<div class="row">

  <div class="col s2" style="padding-left: 0px; padding-right: 0px">
    <div class="side-nav center" style="float: left; margin-left: 0;">
      <ul><br>
        <img class="profile-img" src="images/placeholder-face-big.png" height="100" width="100">
        <li><a href="/timeline">HOME</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/help">HELP & SUPPORT</a></li>
        <li><a href="/settings">SETTINGS</a></li>
        <li><a href="/sign-out">LOG OUT</a></li>
        <br>
        <br>
        <br>
      </ul>
    </div>
  </div>
  <div class="col s6 push-s2">
  
    <h2 class="heading">Delete Your Account</h2>
    <br>
    <br>
    
    <form class="center" action="/settings" method="post">
      <input type="text" name="username" id="username" Value="Username" required>
      <input type="password" name="password" id="password" Value="Password" required>
      <br><br>
      <input class="red btn-large" type="submit" value="Delete Account"> 
      <br><br><br>
    </form>

    <p>Deleting your account will disable your profile. Some information may still be visible to others, such as your name in their friends list and messages you sent.</p>
    <br>
    <br>
    <br>
    
  </div>
</div>