<div class="main row">
  <div class="left-side col s6">
    <div >

          <div class="center intro">
          <br>
            <h3 class="heading">Welcome to Da Wave</h3>
            <h4>We finna put you on!</h4>
            <p>We official tissue on this side, Ju Heard</p>
            <img src="images/wave-hand.gif" alt="wave-hand-logo" width="330" height="230">
          </div>
    </div>    
  </div>
  <div class="right-side col s6">
    <div class="move-aside">
      <h1 class="center heading shadow">Sign Up</h1>

      <form action="/sign-up" method="post">
        <div class="row">
          <div class="col s5">
            <input type="text" name="fname" id="fname" placeholder="First Name">
          </div>
          <div class="col s5 push-s1">
            <input type="text" name="lname" id="lname" placeholder="Last Name">
          </div>
        </div>
        <div class="row">
          <div class="col s5" style="padding-bottom: 50px;">
            <input class="validate" type="email" name="email" placeholder="E-Mail">
          </div>
          <div class="col s5 push-s1">
            <input type="text" name="birth" id="birth" placeholder="MM/DD/YYYY">
          </div>
          <div class="col s11">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <div class="center button">
              <input class="btn-large right-button" type="submit" value="SIGN UP"> &nbsp;&nbsp;&nbsp;&nbsp;<a class="non-button" href="/sign_in">SIGN IN</a>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>