
<div class="row">

  <div class="col s2" style="padding-left: 0px; padding-right: 0px">
    <div class="side-nav center" style="float: left; margin-left: 0;">
      <ul><br>
        <img class="profile-img" src="images/placeholder-face-big.png" height="100" width="100">
        <li><a href="/timeline">HOME</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/settings">SETTINGS</a></li>
        <li><a href="/sign-out">LOG OUT</a></li>
        <br>
        <br>
        <br>
      </ul>
    </div>
  </div>          
  <h2 class="heading absolute">Welcome to your timeline...</h2>
  <br>
  <br>
  <br>
  <div class="col s6 push-s3 border">
    <form class="post" action="/post" method="post">
      Whats on your mental? 
      <input type="text" name="content" style="color: #A8DBA8"></input><br>
      <input class="btn-small left-button" type="submit" value="Post"> 
    </form>
  </div>
  <% @posts.reverse.each do |post| %>
  <div class="col s6 push-s3 border" style="background-color: #3B8686;">
    <div class="postings">
      <img src="images/placeholder-face-big.png" height="30" width="30" style="margin: 0 5px 0 0; border: 2px solid #A8DBA8; border-radius: 100%;"><a href="#"><%= post.user.username %></a><br>
      <p><%= post.content %></p>
    </div>
  </div> 
  <% end %>
</div>
