
      <div class="row" style="margin-bottom: 0px;">

        <div class="col s2" style="padding-left: 0px; padding-right: 0px">
          <div class="side-nav center">
            <ul><br>
              <img class="profile-img" src="images/placeholder-face-big.png" height="100" width="100">
              <li><a href="/timeline">HOME</a></li>
              <li><a href="/profile">PROFILE</a></li>
              <li><a href="/notifications">NOTIFICATIONS</a></li>
              <li><a href="/hot">WHAT'S HOT</a></li>
              <li><a href="/help">HELP & SUPPORT</a></li>
              <li><a href="/settings">SETTINGS & PRIVACY</a></li>
              <li><a href="/sign-out">LOG OUT</a></li>
              <br>
              <br>
              <br>
            </ul>
          </div>
        </div>          
        <h2 class="heading absolute">Welcome to your timeline...</h2>
        <br>
        <br>
        <br>
        <div class="col s6 push-s1 border">
          <form class="post" action="/action_page.php" method="get">
            Whats on your mental? <input type="text" name="post-content"><br>
            <input class="btn-small left-button" type="submit" value="Post">
          </form>
        </div> 
        <div class="col s6 push-s1 border">
          <form class="post" action="/action_page.php" method="get">
            <img src="images/placeholder-face-big.png" height="30" width="30" style="margin: 0 5px 0 0;">post by USER<br>
            post content: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ullam laudantium, corrupti dolor distinctio dicta itaque voluptates veritatis aperiam odio quas repudiandae quia pariatur nesciunt optio reprehenderit. Debitis, quidem repudiandae?
          </form>
        </div> 
      </div>